
#fdcdatatable{
    height: auto;
    width: auto;
    
}
#asset-test-div{
    height: auto;
    width: auto;
    position: absolute;
    background: rgb(37, 36, 36);
    z-index: 1;
    top: 93px;
    left: 300px;
}
#closebutton{
right: 5px;
position: absolute;


}